* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  height: 90vh;
  width: 100%;
  background: radial-gradient(#ffffff, #ffe4d2);
}

.head {
  padding-top: 1rem;
}

.logo img {
  width: 200px;
}

.main {
  display: flex;
  /* flex-wrap: wrap; */
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

nav  {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  /* margin-top: 1.4rem; */
}

nav ul li {
  position: relative;
  /* display: flex; */
  list-style: none;
}


nav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  margin-inline: 20px;
  color: black;
  padding: 5px 10px;
  transition: all 0.5s ease-in-out;
}


a.active,nav ul li a:hover {
  /* border: 1px solid pink; */
  border-radius: 10px;
  background: #ff6600;
  color: white;
}

.sub-menu {
  display: none;
}

nav ul li:hover .sub-menu {
  display: block;
  background: radial-gradient(#ffffff, #ffe4d2);;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 20px;
  /* margin-left: -0.4rem;
  margin-top: 0.4rem; */
}

nav ul li:hover .sub-menu ul {
  display: block;
  line-height: 30px;
  text-align: center;
}

nav ul li:hover .sub-menu ul li {
  padding: 3px 0;
}


nav ul li:hover .sub-menu ul li a {
  padding:  5px 10px;
}

.fav-cart {
  display: flex;
  margin: 1rem 0px;
  cursor: pointer;
}

.fav-cart .ri-menu-3-line {
  display: none;
}

.fav-cart i {
  padding-inline: .7rem;
  font-size: 1.6rem;
  transition: transform 0.5s;
}

.fav-cart i:hover {
  transform: scale(1.2);
}

.container-1{
  height: calc(90vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px 0px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}


.write {
  margin: 0px 5rem;
  /* border : 1px solid black */
  /* margin-top: 0px; */
}

.write h1 {
  font-size: 3.5rem;
   line-height: 6rem;
/* padding-bottom: 1rem;  */
   color: #555;  
}
   .write p {
  font-size: 2rem;
    line-height: 3rem;
  color: #555;
}

.write .btn i {
  font-size: 2rem;
}

.write .btn {
  border: none;
  font-size: 2rem;
  margin-top: 3rem;
  /* margin-bottom: 3rem; */
  padding: 1.5rem 5.5rem;
  color: white;
  border: 1px solid #ffb787;
  border-radius: 60px;
  background: #ff6600;
  transition: transform 0.5s;
}

.write .btn:hover {
  transform: scale(1.1);
}


/* Beloved Brands */

h2 {
  color: rgb(87, 87, 87);
  font-size: 2.5rem;
  text-align: center;
  /* margin-top: 5rem; */
}

.line {
  height: 6px;
  width: 7rem;
  margin: 1rem auto;
  margin-bottom: 4rem;
  border-radius: 10px;
  background-color: #ffa569;
}

.brand-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* width: 90%; */
  margin: 1rem auto;
}

.brand-img img {
  margin-inline: 2rem;
  border-radius: 0.5rem;
  width: 300px;
  /* object-fit: cover; */
  height: 400px;
  transition: all 0.5s;
}

.brand-img img:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 8px 4px gray;
}

/* .brand-img:hover img {
  scale: 1.2;
} */

/* Beloved Brands end */

/* Featured Products */

.featured-products{
  margin-top: 4rem;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* width: 80%; */
  justify-content: center;
  /* margin: 4rem auto; */
}

.product:hover {
  transform: translateY(-1rem);
}

.product {
  width: 250px;
  margin-inline: 20px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  transition: all 0.5s;
}

.product img {
  height: 350px;
  width: 250px;
  /* margin-inline: 1rem; */
  /* padding: 1rem 0.5rem; */
}

h3 {
  /* padding-inline: 1rem; */
  color: rgb(83, 83, 83);
}

.product p {
  /* padding-inline: 1rem; */
  color: rgb(83, 83, 83);
}
.product .rate {
  /* padding-inline: 1rem; */
  color: rgb(255, 159, 96);
}

/* Latest Product */

.latest-product{
  margin-top: 4rem;
}

.latest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product1:hover {
  transform: translateY(-1rem);
}

.product1 {
  width: 250px;
  /* background-color: #e99797; */
  margin-inline: 20px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  transition: all 0.5s;
}

.product1 img {
  height: 350px;
  width: 250px;
  /* margin-inline: 1rem; */
  /* padding: 1rem 0.5rem; */
}

.product1 p {
  /* padding-inline: 1rem; */
  color: rgb(83, 83, 83);
}
.product1 .rate {
  /* padding-inline: 1rem; */
  color: rgb(255, 159, 96);
}

/* Latest product end */

/* Exclusive watch */

.offer {
  margin-top: 4rem;
  padding: 2rem 4rem;
  background: radial-gradient(#fff, #ffb584);
}

.exclusive {
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.watch-image {
  flex-basis: 50%;
  max-width: 400px;
}

.watch-image h4 {
  font-size: 2.5rem;
  padding: 2rem 0px;
}

.watch-image p {
  font-size: 1.2rem;
  color: #555;
}

.watch-image button {
  font-weight: 550;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  background-color: #ff6600;
  padding: 0.5rem 1.5rem;
  margin-top: 2.5rem;
  border-radius: 2.5rem;
  transition: transform 0.5s;
}

.watch-image button:hover {
  transform: scale(1.1);
}

.watch-image img {
  width: 100%;
}

/* Exclusive Watch End */

/* Testimonials */

.testimonials {
  margin-top: 8rem;
}

.small-container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 80%;
  background-color: #ffb482;
  margin-inline: auto; */
}

.col {
  flex-basis: 25%;
  min-width: 250px;
  text-align: center;
  padding: 1rem 0.5rem;
  margin-inline: 1rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.5s;
}

.col:hover {
  transform: translateY(-10px);
}

.col .rate {
  padding: 1rem;
  color: #ff6600;
}

.col img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.col h5 {
  font-size: 1.5rem;
  padding: 1rem;
  color: #555;
}
.col p {
  font-size: 1.2rem;
  color: #555;
}

.col .ri-double-quotes-l {
  font-size: 3rem;
  color: #ff6600;
}

/* Testimonials End */

/* Brands */

.brands {
  margin-top: 4rem;
}

.col1 {
  width: 160px;
  margin-inline: 1.5rem;
  filter: grayscale();
  cursor: pointer;
  transition: all 0.5s;
}

.col1:hover {
  filter: none;
}

/* Brands End */

/* Services */

.service {
  margin-top: 8rem;
}

.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 3rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.col2 h7 {
  padding-inline: 1rem;
  font-size: 1.1rem;
}

.col2 img {
  width: 70px;
}

.col2:hover {
  transform: translateY(-10px);
}

/* Services End */

.line-2 {
  height: 4px;
  width: 80%;
  margin-inline: auto;
  margin-top: 4rem;
  /* margin-bottom: 4rem; */
  /* border-radius: 10px; */
  background-color: #dbdbdb;
}

/* Footer */

.foot {
  margin-top: 5rem;
  background-color: black;
  padding-top: 5rem;
  color: #a5a5a5;
}

.foot .small-container {
  padding-inline: 3rem;
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.col-3{
  width: 300px;
}

.col-3 h5 {
  color: white;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.col-3 p {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.app-logo {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100px;
}

.app-logo img {
  width: 120px;
  margin-right: 1rem;
  transition: transform 0.5s;
}

.app-logo img:hover {
  transform: scale(1.1);
}

.col-4 {
  text-align: center;
  width: 400px;
  /* margin-left: 3rem; */
}

.col-4 p {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.col-4 img {
  width: 180px;
  filter: invert(1);
}

.col-5 h5 {
  color: white;
  font-size: 1.3rem;
  padding-bottom: 1.2rem;
}

.col-5 ul {
  list-style: none;
}

.col-5 ul li {
  cursor: pointer;
  font-size: 1.1rem;
  padding-bottom: 0.3rem;
  transition: 0.5s;
}

.col-5 ul li:hover {
  color: white;
  text-decoration: underline white;
}

.foot hr {
  border: none;
  background-color: #a5a5a5;
  height: 1px;
  width: 95%;
  margin-top: 4rem;
}

.copy-right {
  text-align: center;
  color: #a5a5a5;
  font-size: 1.2rem;
  padding: 2rem 0px;
}

/* Responsive */

@media (min-width: 769px) and (max-width: 1279px) {
  .logo{
    width: 15%;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  nav ul li a {
    font-size: 25px;
    margin-inline: 10px;
  }

  .fav-cart {
    align-items: center;
    margin-inline: 2px;
  }

  .fav-cart i {
    font-size: 30px;
  }

  .write {
    margin: 0px 2rem;
  }
  .write h1 {
    font-size: 3.3rem;
    line-height: 4.3rem;
  }

  .write p {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .write .btn {
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  h2 {
    font-size: 3rem;
  }

  .line {
    width: 5rem;
  }

  .brand-img{
    justify-content: space-evenly;
  }

  .brand-img img {
    padding: 1rem 0px;
    width: 300px;
    height: 400px;
  }

  .featured{
    justify-content: space-evenly;
  }

  h3{
    font-size: 1.5rem;
  }

  .product p{
    font-size: 1.2rem;
  }

  .latest{
    justify-content: space-evenly;
  }

  .product1 p{
    font-size: 1.2rem;
  }

  .watch-image p {
    font-size: 1.5rem;
  }

  .watch-image h4 {
    font-size: 2.5rem;
    padding: 1rem 0px;
  }

  .watch-image button {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
  }

  .col {
    margin: 1rem;
  }

  .col2 {
    margin: 1rem;
  }

  .col2 h7{
    font-size: 1.5rem;
  }

  .col1 {
    width: 100px;
    margin-inline: 1rem;
  }

  .col1 img {
    width: 120px;
  }

  .col-3 p {
    font-size: 1.2rem;
  }

  .col-3 h5 {
    font-size: 1.5rem;
  }

  .app-logo {
    width: 140px;
    margin-bottom: 2rem;
  }

  .app-logo img {
    width: 140px;
  }

  .col-4 {
    width: 300px;
  }

  .col-4 img {
    width: 150px;
  }

  .col-4 p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .col-5 h5 {
    /* margin-top: 1rem; */
    font-size: 1.5rem;
  }

  .col-5 ul li {
    font-size: 1.2rem;
  }

  .copy-right {
    font-size: 1.5rem;
  }

  .col .ri-double-quotes-l {
    font-size: 2rem;
  }

  .col p {
    font-size: 1.2rem;
  }

  .col h5 {
    font-size: 1.4rem;
  }

  .col img {
    width: 80px;
    height: 80px;
  }

  .brands .row .col1{
     margin: 1px 3rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .logo{
    width: 25%;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
  }

  .nav-links{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff, #ffe4d2);
    top: 0;
    left: 0;
    line-height: 70px;
  }

  .nav-links li a{
    font-size: 2rem;
  }

  .nav-links li a:hover .sub-menu{
    position: absolute;
    left: 20px;
  }


  nav ul li:hover .sub-menu {
    position: absolute;
    border-radius: 10px;
    top: 10px;
    left: 200px;
  }

  nav ul li:hover .sub-menu ul{
    line-height: 45px;
  }

  nav ul li:hover .sub-menu ul li{
    padding: 1px 0px;
  }

  nav ul li:hover .sub-menu ul li a{
    padding: 2px 15px;
    font-size: 1.8rem;
  }

  .fav-cart i{
    font-size: 30px;
  }

  .fav-cart .ri-menu-3-line {
    display: block;
    /* margin: 0px 30px;
    font-size: 30px; */
    position: relative;
  }

  .content {
    /* margin: 2rem 3rem; */
  }

  .write{
    width: 60%;
    margin-inline: 35px;
  }


  .content .write h1 {
    font-size: 35px;
    line-height: 50px;
  }

  .content .write p {
    font-size: 20px;
  }

  .content .write .btn {
    font-size: 25px;
  }

  .content .write .btn i {
    font-size: 25px;
  }

  h2{
    font-size: 2.5rem;
  }

  .brands .loved-brands .brand-img img{
    width: 200px;
    height: 250px;
    margin-inline: 1rem;
    margin-bottom: 1.5rem;
  }

  .product{
    width: 180px;
    margin-inline: 20px;
  }

  .featured-products .featured .product img{
    height: 250px;
    width: 180px;
  }

  .featured-products .featured .product h3{
    font-size: 1rem;
    padding-bottom: 5px;
  }

  .featured-products .featured .product p{
    font-size: .9rem;
    padding-bottom: 5px;
  }

  .featured-products .featured .product .rate{
    font-size: .9rem;
    padding-bottom: 5px;
  }

  .product1{
    width: 180px;
    margin-inline: 20px;
  }

  .latest-product .latest .product1 img{
    width: 180px;
    height: 250px;
  }

  .latest-product .latest .product1 p{
    font-size: .9rem;
  }

  .latest-product .latest .product1 h3{
    font-size: 1rem;
  }

  .latest-product .latest .product1  .rate{
    font-size: .9rem;
    padding-bottom: 5px;
  }

  .container .watch-image p{
    font-size: 1.2rem;
  }

  .container .watch-image h4{
    font-size: 1.9rem;
    padding: 1rem 0;
  }

  .container .watch-image button{
    font-size: 1.1rem;
    margin-top: 1.2rem;
  }

  .testimonials{
    margin-top: 6rem;
  }

  .testimonials .small-container .row .col{
    margin: 10px;
    padding: 5px;
    min-width: 220px;
  }

  .testimonials .small-container .row .col .ri-double-quotes-l{
    font-size: 2rem;
  }

  .testimonials .small-container .row .col p{
    font-size: 1rem;
  }

  .testimonials .small-container .row .col h5{
    font-size: 1.3rem;
    padding: 10px;
  }

  .testimonials .small-container .row .col .rate{
    /* font-size: 1.3rem; */
    padding: 10px;
  }

  .service{
    margin-top: 5rem;
  }

  .col2{
    /* width: 100%; */
    padding: 10px;
  }

  .service .col2 h7{
    font-size: 15px;
    font-weight: 700;
    padding-inline: 5px;
  }

  .col2 img{
    width: 60px;
  }

  .row1{
    width: 100%;
  }

  .col-3{
    width: 50%;
     text-align: center;
     margin-inline: 5px;
  }

  .app-logo{
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .app-logo img{
    padding-bottom: 20px;
  }

  .col-4{
    width: 100%;
    margin: 10px;
  }

  .col-4 img{
    width: 30%;
    padding: 5px;
  }
  
  .col-4 p{
    padding-top: 5px;
    width: 80%;
    margin: auto;
  }

  .col-5{
    margin-top: 20px;
  }

  .foot{
    margin-top: 2rem;
    padding-top: 3rem;
  }

}

@media(max-width:480px){
    header{
      height: 100vh;
    }

    .main{
      align-items: center;
    }

    .logo{
      width: 40%;
    }

    .logo img{
      width: 100%;
    }

    nav ul{
      display: none;
    }

    .fav-cart i{
      font-size: 30px;
      font-weight: 550;
    }

  .fav-cart .ri-menu-3-line {
    display: block;
  }

  .container-1{
    margin: auto;
  }

  .content{
    text-align: center;
    /* margin: 4rem; */
    /* margin: 0px; */
  }

  .write{
    width: 100%;
    margin: 10px;
  }

  .write h1{
    font-size: 35px;
    line-height: 50px;
  }

  .write p{
    font-size: 20px;
    /* line-height: 2.8rem; */
  }

  .write .btn{
    font-size: 25px;
    padding-inline: 30px;
  }

  .write .btn i{
    font-size: 25px;
  }

  .brands{
    margin-top: 2rem;
  }

  h2{
    font-size: 1.8rem;
  }

  .line{
    height: 4px;
    width: 5rem;
    margin: 1rem auto;
    margin-bottom: 2rem;
  }

  .brand-img{
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .brand-img img{
    width: 100%;
    margin: 0;
    height: 500px;
    border-radius: 0px;
    padding: 1px 0px;
  }

  
.brand-img img:hover {
  transform: translateY(0px);
  box-shadow: none;
}

  .featured-products{
    margin-top: 2rem;
  }

  .featured{
    width: 100%;
  }

  .product{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  .product img{
    height: 100%;
    width: 100%;
    /* padding: 1px; */
  }

  h3{
    font-size: 1.8rem;
    padding: 5px 0px;
  }

  .product p{
    font-size: 1.4rem;
    padding: 5px 0px;
  }

  .product .rate{
    font-size: 1.4rem;
    /* padding: 5px 0px; */
  }

  .latest-product{
    margin-top: 2rem;
  }

  .latest{
    width: 100%;
    text-align: center;
  }
  
  .product1{
    width: 100%;
    margin: 1rem 0;
  }

  .product1 img{
    height: 100%;
    width: 100%;
    /* padding: 1px; */
  }

  
  .product1 p{
    font-size: 1.4rem;
    padding: 5px 0px;
  }

  .product1 .rate{
    font-size: 1.4rem;
    /* padding: 5px 0px; */
  }

  .offer{
    margin-top: 2rem;
    padding: 3rem 1rem;
  }

  .watch-image h4{
    font-size: 2.3rem;
  }

  .watch-image button{
    font-size: 1rem;
    padding: .5rem 2rem;
  }

  .testimonials{
    margin-top: 5rem;
  }

  .testimonials .col{
    margin: .5rem 0px;
    /* flex-basis: 30%; */
  }

  .testimonials .col .ri-double-quotes-l {
    font-size: 2rem;
  }

  .testimonials .col p {
    font-size: 1rem;
  }

  .testimonials .col .rate {
    font-size: .8rem;
    padding: .8rem;
  }

  .testimonials .col img {
    height: 70px;
    width: 70px;
  }

  .testimonials .col h5 {
    font-size: 1.2rem;
    padding: .5rem;
  }

  .service{
    margin-top: 4rem;
  }

  .service .col2{
    padding: .5rem 15px;
  }

  .service .col2 img{
    width: 50px;
  }

  .service .col2 h7{
    font-size: 1rem;
  }

  .line-2{
    margin-top: 2rem;
  }

  .col1{
    width: 130px;
  }

  .brands .col1 img{
    width: 130px;
  }

  .foot{
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .foot .row1{
    /* flex-direction: column; */
  }

  .foot .col-3{
    text-align: center;
    padding: 2rem 0px;
  }

  .foot .col-3 h5{
    font-size: 1.2rem;
  }

  .foot .col-3 p{
    font-size: 1rem;
  }

  .foot .col-3 .app-logo{
    width: 150px;
  }

  .foot .col-3 .app-logo img{
    width: 150px;
    margin-right: .2rem;
  }

  .foot .col-4 {
    width: 300px;
  }

  .foot .col-4 img{
    width: 200px;
    padding: 1rem 0px;
  }

  .foot .col-4 p{
    font-size: 1rem;
    padding: 1rem 0px;
  }

  .foot .col-5 h5{
    font-size: 1rem;
    padding: 1rem 0px;
  }

  .foot .col-5 ul li{
    font-size: .8rem;
    /* padding: 1rem 0px; */
  }

  .foot hr{
    margin-top: 2rem;
  }

  .copy-right{
    font-size: 1rem;
    padding: 1.5rem 0px;
  }
}
